body {
  width: 100%;
  height: 100vh;
  background-color: #7f7f7f;
  margin: 0;
  font-family: serif;
  font-size: 16px;
  color: white;
}

h1, p, h2 {
  margin: 1em auto;
  text-align: center;
}

form {
  width: 80vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3f3f4f;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #b2b2b2;
  border-color: white;
  color: white;
  min-width: 300px;
}

input,
textarea,
select {
  margin: 10px 0 0;
  width: 100%;
  min-height: 2em;
}

input, textarea {
  background-color: #b2b2b2;
  border: 1px solid white;
  color: white;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="file"] {
  padding: 2px;
  color: #3f3f4f;
}

.availability {
  padding-top: 20px;
}

footer {
  padding-bottom: 2em;
  font-size: 14px;
}